body{
	background: #ffffff;
	background-size: 100%;
	background-repeat: no-repeat;
	transition: all 0.5s;
}
#Restaurant_Name{
	display: inline-block;
	float: left;
	font-size: 40px;
	border-bottom: 3px solid #d6813c;
}
#Restaurant_Name a{
	text-decoration: none;
	color: #d6813c;
}
header{
	margin: 1%;
	padding: 1%;
}
nav{
	display: inline-block;
	clear: all;
	float: right;
	transform: translateY(50%);
}
nav a{
	margin-right: 5px;
	padding: 3px;
	text-decoration: none;
	font-size: 20px;
	color: #e0cdbc;
}
.active{
	color: #d6813c;
}